@import "tailwindcss";

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.geom {
  font-family: "Geom", sans-serif;
}

.cormorant {
  font-family: "Cormorant Upright", serif;
}

.instrument-sans {
  font-family: "Instrument Sans", sans-serif;
}